@import "tailwindcss";

@theme {
	--color-primary: #3b82f6;
	--color-secondary: #8b5cf6;
	--color-background: #1f2937;
	--color-foreground: #ffffff;
	--color-accent: #06b6d4;
	--color-accent2: #f59e0b;
	--color-front: #1e293b;
	--color-back: #f8fafc;
	--color-mute: #64748b;
	--color-border: #e2e8f0;
	--color-borderApp: #6a7282;
}

body {
	@apply bg-background text-foreground;
}

@keyframes slideLeft {
	from {
		transform: translateX(30%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideRight {
	from {
		transform: translateX(-30%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		transform: translateY(50%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideDown {
	from {
		transform: translateY(-50%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.animate-slide-left {
	animation: slideLeft 0.3s ease-out;
}

.animate-slide-right {
	animation: slideRight 0.3s ease-out;
}

.animate-slide-up {
	animation: slideUp 0.3s ease-out;
}

.animate-slide-down {
	animation: slideDown 0.3s ease-out;
}
